.premier_bandeau {
    background-color: #b91e32;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 35px;
    display: block;
}

.bandeau_logo {
	margin: auto;
    width: 950px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.language-switcher {
    margin: 0;
    padding-top: 60px;
    padding-right: 500px;
    position: absolute;
    top: 0;
    right: 0;
}

.language-switcher>li
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    color: #1E90FF;
    font-weight:bold;
}

.langue-lien{
    text-decoration: none;
    color: #1E90FF;
}

.discover_possibilities{
    text-decoration: none;
    color: #1E90FF;
}

.language-switcher.langue-link:link{
    color:blue;
}

.image_etudiants{
	margin: auto; 
	width: 950px;
}

.container{
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.bandeau_liens_rapides{
    font-family: "trebuchet ms","Aller",Arial,sans-serif;
	background: #EFEDEE;
	margin: auto;
    width: 950px;
}

.bandeau_International{
    font-family: "trebuchet ms","Aller",Arial,sans-serif;
	background: #EFEDEE;
	margin: auto;
    width: 950px;
}

.bandeau_International .Texte{
	margin-left:10px;
    background: #EFEDEE;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.bandeau_International .Texte>p {
    font-size: 0.8rem;
}

.bandeau_International .Texte>h2 {
    margin-top: 10px;
}

.tablefastlinkpic {
    border-collapse: separate;
    border-spacing: 15px 0px;
    float:left
}

.fastlinkpic {
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
	
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.menu_bar {

    float: right;
    text-decoration: none;
    color: #000;
    padding-right: 30px;
    padding-top: 25px;
}

.search{
     float: right;
    text-decoration: none;
    color: #000;
     padding-right:30px;
    padding-top:25px;
}

.liens_rapides{
     float: right;
    text-decoration: none;
    color: #1E90FF;
     padding-right:35px;
    padding-top:25px;
}
