.premier_bandeau {
    background-color: #b91e32;

margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
height: 35px;

    display: block;
}

.liste-menu {
	color: white;

    width: 50%;
    margin: auto auto; 


}

.li1 {
	float: left;
list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;

    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 8px;
	
font-size: 16px;
position: relative;



font-family: "trebuchet ms","Aller",Arial,sans-serif;
color: #fff;
font-weight: bold;
text-transform: uppercase;

text-decoration: none;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid


}

.li2 {
	/*display: block;*/
margin-top: 0;
line-height: 19px;

    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 8px;	

float: left;
list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;

font-size: 16px;
position: relative;

text-align: center;

font-family: "trebuchet ms","Aller",Arial,sans-serif;
color: #fff;
font-weight: bold;
text-transform: uppercase;

text-decoration: none;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid

}

.li3 {
	/*display: block;*/
margin-top: 0;
line-height: 19px;

    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 8px;	

float: left;
list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;

font-size: 16px;
position: relative;

text-align: center;

font-family: "trebuchet ms","Aller",Arial,sans-serif;
color: #fff;
font-weight: bold;
text-transform: uppercase;

    text-decoration: none;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid;


		
}

.liste-menu > li > a {
    text-decoration: none;
    color: white;
}

.li1::after {
    content: " | ";
    color: #fff;
    position: absolute;
    right: -1px;
}

.li2::after {
    content: " | ";
    color: #fff;
    position: absolute;
    right: -1px;
}

.bandeau_logo {
	
	margin: auto;
    width: 950px;
    padding-top: 15px;
    padding-bottom: 15px;
	
	
}

.language-switcher {
     margin: 0;
    padding-top: 60px;
    padding-right: 500px;
    position: absolute;
    top: 0;
    right: 0;

}

.language-switcher>li
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
     color: #1E90FF;
    font-weight:bold;
}

.language-switcher.langue-link:link{
color:blue;
}


.imageLogoPoly{/*
float: left;
margin: auto;*/
}

.image_etudiants{
	/*margin: auto;
    width: 50%;*/
	margin: auto; 
	width: 950px;
}

.container{
	    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.bandeau_liens_rapides{
	    background: #EFEDEE;
		margin: auto;
    width: 950px;
}

.bandeau_International{
	    background: #EFEDEE;
		margin: auto;
    width: 950px;
}

.bandeau_International .Texte{
	    margin-left:10px;
		margin-top:30px;
		margin-bottom:30px;
}

.medias_sociaux > ul > li {
    /*float: left;
    margin: 0.2rem 0 0.2rem 0.25rem;
    margin-top: 0.2rem;
    margin-right: 0px;
    margin-bottom: 0.2rem;
    margin-left: 0.25rem;
	
	    width: 18px;
    height: 18px;
    background-size: 18px 18px;*/
}

.tablefastlinkpic {
    border-collapse: separate;
    border-spacing: 15px 0px;
    float:left
}

.fastlinkpic {
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
	
	/*margin-left:3px;
	margin-right:3px;*/
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.menu_bar {

    float: right;
    text-decoration: none;
    color: #000;
    padding-right: 30px;
    padding-top: 25px;
}

.search{
     float: right;
    text-decoration: none;
    color: #000;
     padding-right:30px;
    padding-top:25px;
}

.liens_rapides{
     float: right;
    text-decoration: none;
    color: #1E90FF;
     padding-right:35px;
    padding-top:25px;
}
